{# templates/admin_streamer/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Admin Streamer{% endblock %}

{% block body %}
    <h1>Admin Streamer</h1>
    <p>Bienvenue sur la page des streamers administrateurs.</p>
{% endblock %}
