{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accueil - Z-Event{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid bg-image">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-lg-8 text-center text-white">
            <h1 class="display-4">Z-Event 2024</h1>
            <p class="lead">Bienvenue à l'évènement caritatif le plus attendu de l'année ! Rejoignez-nous pour soutenir notre association partenaire.</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <section id="news">
                <h2 class="mb-4">Dernières Actualités</h2>
                <div class="news-item">
                    <h3>Actu 1</h3>
                    <p>Détails...</p>
                </div>
                <div class="news-item">
                    <h3>Actu 2</h3>
                    <p>Détails...</p>
                </div>
            </section>
        </div>
        <div class="col-md-6">
            <section id="association">
                <h2 class="mb-4">Notre Association</h2>
                <p>Description de l'association...</p>
            </section>
        </div>
    </div>
</div>
{% endblock %}
