{# templates/streamer/user_registration.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Inscription utilisateur{% endblock %}

{% block body %}
    <h1>Inscription utilisateur</h1>
    {# Graphique d'inscription utilisateurs ici #}
    <canvas id="userRegistrationChart" width="400" height="200"></canvas>
    <script>
        // JavaScript pour afficher le graphique d'inscription utilisateurs
        // Exemple: https://www.chartjs.org/docs/latest/
    </script>
{% endblock %}
